<section class="about-game" id="about-game">
  <div class="about-game_container container">
    <h2 class="title-h2">About the Game</h2>
    <div class="about-game_inner">
      <img
        class="about-game_inner_img"
        src="./img/about_game/background_about.jpg"
        alt="Colorful Kitty: Sort It Out"
      />
      <p class="about-game_inner_text">
        <span>Colorful Kitty: Sort It Out</span> is an adorable and calming
        sorting puzzle where your job is to organize a group of playful kittens
        by their colors, fur patterns, or accessories. It’s part logic, part
        relaxation, and 100% cute overload.
        <b>
          Designed for all ages, this game brings cozy vibes, pastel visuals,
          and the gentle purring of happy kitties while you solve dozens of fun,
          brain-pleasing levels.
        </b>
      </p>
    </div>
  </div>
</section>
