<section class="charters" id="charters">
  <div class="charters_container container">
    <h2 class="title-h2">Main Characters</h2>
    <div class="swiper swiper-charters">
      <div class="swiper-wrapper swiper-wrapper-charters">
        <div class="swiper-slide swiper-slide-charters">
          <article class="charters_article">
            <img src="./img/charters/Momo.png" alt="Momo" />
            <h3 class="charters_article_title">Momo</h3>
            <p class="charters_article_text">
              A curious orange tabby with a bell collar and wild energy.
            </p>
          </article>
        </div>
        <div class="swiper-slide swiper-slide-charters">
          <article class="charters_article">
            <img src="./img/charters/Peachy.png" alt="Peachy" />
            <h3 class="charters_article_title">Peachy</h3>
            <p class="charters_article_text">
              A pink pastel kitty with a big bow and a big attitude.
            </p>
          </article>
        </div>

        <div class="swiper-slide swiper-slide-charters">
          <article class="charters_article">
            <img src="./img/charters/Mittens.png" alt="Mittens" />
            <h3 class="charters_article_title">Mittens</h3>
            <p class="charters_article_text">
              A tuxedo cat with mittens and a tiny detective hat (unlocks after
              Level 10).
            </p>
          </article>
        </div>
        <div class="swiper-slide swiper-slide-charters">
          <article class="charters_article">
            <img src="./img/charters/Luna.png" alt="Luna" />
            <h3 class="charters_article_title">Luna</h3>
            <p class="charters_article_text">
              A calm white Persian who loves being sorted <br />
              perfectly.
            </p>
          </article>
        </div>
        <div class="swiper-slide swiper-slide-charters">
          <article class="charters_article">
            <img src="./img/charters/Shadow.png" alt="Shadow" />
            <h3 class="charters_article_title">Shadow</h3>
            <p class="charters_article_text">
              The sleepy black cat who always ends up in the wrong basket.
            </p>
          </article>
        </div>
      </div>
      <div class="swiper-button-prev">
        <img src="./img/btn_left.png" alt="slide left" />
      </div>
      <div class="swiper-button-next">
        <img src="./img/btn_right.png" alt="slide right" />
      </div>
    </div>
  </div>
</section>
