<section class="faq" id="faq">
  <div class="faq_container container">
    <h2 class="title-h2">FAQ</h2>
    <div class="faq_inner">
      <img src="./img/faq/main_faq.jpg" alt="cat issues" />
      <div class="faq_inner_flex">
        <article class="faq_inner_flex_item">
          <div class="faq_inner_flex_item_title">
            <h3 class="faq_inner_flex_title">Is the game free to play?</h3>
            <span></span>
          </div>
          <p class="faq_inner_flex_text">
            Yes! With optional in-app purchases like skins and extra hints.
          </p>
        </article>
        <article class="faq_inner_flex_item">
          <div class="faq_inner_flex_item_title">
            <h3 class="faq_inner_flex_title">Can I play offline?</h3>
            <span></span>
          </div>
          <p class="faq_inner_flex_text">
            Totally! It’s designed to be enjoyed anywhere, anytime.
          </p>
        </article>
        <article class="faq_inner_flex_item">
          <div class="faq_inner_flex_item_title">
            <h3 class="faq_inner_flex_title">Are there ads?</h3>
            <span></span>
          </div>
          <p class="faq_inner_flex_text">
            Minimal and skippable. You can remove them with a one-time purchase.
          </p>
        </article>
        <article class="faq_inner_flex_item">
          <div class="faq_inner_flex_item_title">
            <h3 class="faq_inner_flex_title">
              Do the cats do anything special?
            </h3>
            <span></span>
          </div>
          <p class="faq_inner_flex_text">
            Yes! They react with purrs, smiles, or funny faces when you sort
            them.
          </p>
        </article>
        <article class="faq_inner_flex_item">
          <div class="faq_inner_flex_item_title">
            <h3 class="faq_inner_flex_title">Is this safe for kids?</h3>
            <span></span>
          </div>
          <p class="faq_inner_flex_text">
            Absolutely. No ads with inappropriate content and completely
            kid-friendly.
          </p>
        </article>
      </div>
    </div>
    <img class="faq_image_cat" src="./img/faq/3leg_left.png" alt="cat's paw" />
  </div>
</section>
