<section class="feature" id="features">
  <div class="feature_container container">
    <h2 class="title-h2">Key Features</h2>
    <div class="swiper swiper-feature">
      <div class="swiper-wrapper swiper-wrapper-feature">
        <div class="swiper-slide swiper-slide-feature">
          <article class="features_article">
            <img
              src="./img/features/features1.png"
              alt="Adorable Cat-Themed Gameplay"
            />
            <h3 class="features_article_title">Adorable Cat-Themed Gameplay</h3>
            <p class="features_article_text">
              Sort kittens into matching groups by color, style, or mood.
            </p>
          </article>
        </div>

        <div class="swiper-slide swiper-slide-feature">
          <article class="features_article">
            <img
              src="./img/features/features2.png"
              alt="Brain-Training 
            Puzzles "
            />
            <h3 class="features_article_title">
              Brain-Training <br />
              Puzzles
            </h3>
            <p class="features_article_text">
              Increase difficulty gradually and challenge your pattern
              recognition.
            </p>
          </article>
        </div>
        <div class="swiper-slide swiper-slide-feature">
          <article class="features_article">
            <img
              src="./img/features/features3.png"
              alt="Soothing 
            Visuals"
            />
            <h3 class="features_article_title">
              Soothing <br />
              Visuals
            </h3>
            <p class="features_article_text">
              Beautiful soft colors and relaxing backgrounds to keep your eyes
              happy.
            </p>
          </article>
        </div>

        <div class="swiper-slide swiper-slide-feature">
          <article class="features_article">
            <img
              src="./img/features/features5.png"
              alt="Chill Soundtrack
              + Purrs"
            />
            <h3 class="features_article_title">
              Chill Soundtrack <br />
              + Purrs
            </h3>
            <p class="features_article_text">
              Ambient music and kitty purring create a zen experience.
            </p>
          </article>
        </div>
        <div class="swiper-slide swiper-slide-feature">
          <article class="features_article">
            <img
              src="./img/features/features4.png"
              alt="Custom Cat 
              Skins"
            />
            <h3 class="features_article_title">
              Custom Cat <br />
              Skins
            </h3>
            <p class="features_article_text">
              Unlock different breeds, hats, scarves, and cute animations.
            </p>
          </article>
        </div>
        <div class="swiper-slide swiper-slide-feature">
          <article class="features_article">
            <img
              src="./img/features/features6.png"
              alt="No Time 
              Pressure"
            />
            <h3 class="features_article_title">
              No Time <br />
              Pressure
            </h3>
            <p class="features_article_text">
              Take your time. Puzzles are designed to be relaxing.
            </p>
          </article>
        </div>
        <div class="swiper-slide swiper-slide-feature">
          <article class="features_article">
            <img
              src="./img/features/feature7.png"
              alt="Offline 
              Ready"
            />
            <h3 class="features_article_title">
              Offline <br />
              Ready
            </h3>
            <p class="features_article_text">
              Perfect for flights, road trips, or any time you want peace and
              fluff.
            </p>
          </article>
        </div>
      </div>
      <div class="swiper-button-prev">
        <img src="./img/btn_left.png" alt="slide left" />
      </div>
      <div class="swiper-button-next">
        <img src="./img/btn_right.png" alt="slide right" />
      </div>
    </div>
  </div>
</section>
