<section class="gallery" id="gallery">
  <div class="gallery_container container">
    <h2 class="title-h2">Gallery</h2>
    <div class="swiper swiper-gallery">
      <div class="swiper-wrapper swiper-wrapper-gallery">
        <div class="swiper-slide swiper-slide-gallery">
          <article class="gallery_article">
            <img src="./img/gallery/1.jpg" alt="Momo" />
          </article>
        </div>
        <div class="swiper-slide swiper-slide-gallery">
          <article class="gallery_article">
            <img src="./img/gallery/2.jpg" alt="Peachy" />
          </article>
        </div>

        <div class="swiper-slide swiper-slide-gallery">
          <article class="gallery_article">
            <img src="./img/gallery/3.jpg" alt="Mittens" />
          </article>
        </div>
        <div class="swiper-slide swiper-slide-gallery">
          <article class="gallery_article">
            <img src="./img/gallery/4.jpg" alt="Luna" />
          </article>
        </div>
        <div class="swiper-slide swiper-slide-gallery">
          <article class="gallery_article">
            <img src="./img/gallery/5.jpg" alt="Luna" />
          </article>
        </div>
      </div>
      <div class="swiper-button-prev">
        <img src="./img/btn_left.png" alt="slide left" />
      </div>
      <div class="swiper-button-next">
        <img src="./img/btn_right.png " alt="slide right" />
      </div>
    </div>
  </div>
</section>
