<header class="header" id="header">
  <div class="header_container container">
    <nav class="header-nav-pc">
      <ul class="header-nav-pc-list">
        <li class="header-nav-pc-item"><a href="#hero">Home</a></li>
        <li class="header-nav-pc-item">
          <a href="#about-game">About the Game</a>
        </li>
        <li class="header-nav-pc-item">
          <a href="#features">Key Features</a>
        </li>
        <li class="header-nav-pc-item">
          <a href="#charters">Main Characters</a>
        </li>
        <li class="header-nav-pc-item">
          <a href="#reviews">User Reviews</a>
        </li>
        <li class="header-nav-pc-item"><a href="#how-play">How to Play</a></li>
        <li class="header-nav-pc-item"><a href="#gallery">Gallery</a></li>
        <li class="header-nav-pc-item"><a href="#faq">FAQ</a></li>
      </ul>
    </nav>
    <nav class="header-nav-mobile">
      <button type="button" class="header-nav-mobile-button-close">
        <img src="./img/Header/close_menu.png" alt="menu" />
      </button>
      <ul class="header-nav-mobile-list">
        <li class="header-nav-mobile-item">
          <a href="#hero">Home</a>
        </li>
        <li class="header-nav-mobile-item">
          <a href="#about-game">About the Game</a>
        </li>
        <li class="header-nav-mobile-item">
          <a href="#features">Key Features</a>
        </li>
        <li class="header-nav-mobile-item">
          <a href="#charters">Main Characters</a>
        </li>
        <li class="header-nav-mobile-item">
          <a href="#reviews">User Reviews</a>
        </li>
        <li class="header-nav-mobile-item">
          <a href="#how-play">How to Play</a>
        </li>
        <li class="header-nav-mobile-item"><a href="#gallery">Gallery</a></li>
        <li class="header-nav-mobile-item"><a href="#faq">FAQ</a></li>
      </ul>
    </nav>
    <button type="button" class="header-nav-mobile-button">
      <img src="./img/Header/burger.png" alt="menu" />
    </button>
  </div>
</header>
