<section class="how-play" id="how-play">
  <div class="how-play_container container">
    <h2 class="title-h2">How to Play</h2>
    <div class="how-play_inner">
      <img src="./img/how-play/main_review_img.png" alt="cat bun" />
      <div class="how-play_inner_flex">
        <p class="how-play_inner_flex_item">
          Drag the cats into different baskets or areas by their color or
          features.
        </p>
        <p class="how-play_inner_flex_item">
          Use logic to figure out the right order and space management.
        </p>
        <p class="how-play_inner_flex_item">
          Rearrange if needed — no penalties for mistakes.
        </p>
      </div>
      <div class="how-play_inner_flex">
        <p class="how-play_inner_flex_item">
          Complete all puzzles to become the ultimate kitty organizer!
        </p>
        <p class="how-play_inner_flex_item">
          Unlock new cats and decorations as you progress.
        </p>
      </div>
    </div>
  </div>
</section>
