<section class="reviews" id="reviews">
  <div class="reviews_container container">
    <h2 class="title-h2">User Reviews</h2>
    <div class="swiper swiper-reviews">
      <div class="swiper-wrapper swiper-wrapper-reviews">
        <div class="swiper-slide swiper-slide-reviews">
          <article class="reviews_article">
            <h3 class="visually-hidden">Tariq A.:</h3>
            <figure class="reviews_article_inner">
              <img src="./img/reviews/Tariq.png" alt="Tariq" />
              <figcaption>Tariq A.:</figcaption>
            </figure>
            <p class="reviews_article_text">
              “The cats are ridiculously cute. And the puzzles are surprisingly
              smart.”
            </p>
          </article>
        </div>
        <div class="swiper-slide swiper-slide-reviews">
          <article class="reviews_article">
            <h3 class="visually-hidden">Maya L.:</h3>
            <figure class="reviews_article_inner">
              <img src="./img/reviews/Maya.png" alt="Maya" />
              <figcaption>Maya L.:</figcaption>
            </figure>
            <p class="reviews_article_text">
              “Perfect for when I need a break. My kid loves it too!”
            </p>
          </article>
        </div>
        <div class="swiper-slide swiper-slide-reviews">
          <article class="reviews_article">
            <h3 class="visually-hidden">Isabelle N.:</h3>
            <figure class="reviews_article_inner">
              <img src="./img/reviews/Isabelle.png" alt="Isabelle" />
              <figcaption>Isabelle N.:</figcaption>
            </figure>
            <p class="reviews_article_text">
              “I play this every night before bed. So relaxing!”
            </p>
          </article>
        </div>
        <div class="swiper-slide swiper-slide-reviews">
          <article class="reviews_article">
            <h3 class="visually-hidden">Jun S.:</h3>
            <figure class="reviews_article_inner">
              <img src="./img/reviews/Jun.png" alt="Jun" />
              <figcaption>Jun S.:</figcaption>
            </figure>
            <p class="reviews_article_text">
              “Finally a game that’s both adorable and mentally stimulating.”
            </p>
          </article>
        </div>
        <div class="swiper-slide swiper-slide-reviews">
          <article class="reviews_article">
            <h3 class="visually-hidden">Henrik F.:</h3>
            <figure class="reviews_article_inner">
              <img src="./img/reviews/Henrik.png" alt="Henrik" />
              <figcaption>Henrik F.:</figcaption>
            </figure>
            <p class="reviews_article_text">
              “A beautiful game. Great art, calming music, and fun cats.”
            </p>
          </article>
        </div>
      </div>
      <div class="swiper-button-prev">
        <img src="./img/btn_left.png" alt="slide left" />
      </div>
      <div class="swiper-button-next">
        <img src="./img/btn_right.png" alt="slide right" />
      </div>
    </div>
    <div class="reviews_inner">
      <article class="reviews_article">
        <h3 class="visually-hidden">Tariq A.:</h3>
        <figure class="reviews_article_inner">
          <img src="./img/reviews/Tariq.png" alt="Tariq" />
          <figcaption>Tariq A.:</figcaption>
        </figure>
        <p class="reviews_article_text">
          “The cats are ridiculously cute. And the puzzles are surprisingly
          smart.”
        </p>
      </article>
      <img src="./img/reviews/cat_card.png" alt="User Reviews cat image" />
      <article class="reviews_article">
        <h3 class="visually-hidden">Maya L.:</h3>
        <figure class="reviews_article_inner">
          <img src="./img/reviews/Maya.png" alt="Maya" />
          <figcaption>Maya L.:</figcaption>
        </figure>
        <p class="reviews_article_text">
          “Perfect for when I need a break. My kid loves it too!”
        </p>
      </article>
      <article class="reviews_article">
        <h3 class="visually-hidden">Isabelle N.:</h3>
        <figure class="reviews_article_inner">
          <img src="./img/reviews/Isabelle.png" alt="Isabelle" />
          <figcaption>Isabelle N.:</figcaption>
        </figure>
        <p class="reviews_article_text">
          “I play this every night before bed. So relaxing!”
        </p>
      </article>
      <article class="reviews_article">
        <h3 class="visually-hidden">Jun S.:</h3>
        <figure class="reviews_article_inner">
          <img src="./img/reviews/Jun.png" alt="Jun" />
          <figcaption>Jun S.:</figcaption>
        </figure>
        <p class="reviews_article_text">
          “Finally a game that’s both adorable and mentally stimulating.”
        </p>
      </article>
      <article class="reviews_article">
        <h3 class="visually-hidden">Henrik F.:</h3>
        <figure class="reviews_article_inner">
          <img src="./img/reviews/Henrik.png" alt="Henrik" />
          <figcaption>Henrik F.:</figcaption>
        </figure>
        <p class="reviews_article_text">
          “A beautiful game. Great art, calming music, and fun cats.”
        </p>
      </article>
    </div>
  </div>
</section>
