.reviews {
  margin-bottom: 80px;
  scroll-margin-top: 100px;
  @media screen and (min-width: 1440px) {
    margin-bottom: 140px;
  }
}

.swiper-reviews {
  display: flex;
  max-width: 100%;
  width: 100%;
  height: auto;
  @media screen and (min-width: 1440px) {
    overflow: visible !important;
    display: none !important;
  }
}

.reviews_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.swiper-slide-reviews {
  border-radius: 16px;
  overflow: hidden;
  /* змінив */
  display: flex;
}

.swiper-slide-reviews > img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-button-prev,
.swiper-button-next {
  cursor: pointer;
  display: flex !important;
  justify-content: center;
  align-items: center;
  z-index: 10;
  width: 36px !important;
  height: 36px;
  top: auto !important;
  bottom: -60px !important;
  display: none !important;
}

.swiper-button-prev {
  @media screen and (min-width: 1440px) {
    left: 590px !important;
  }
}

.swiper-button-next {
  @media screen and (min-width: 1440px) {
    left: 650px !important;
  }
}

.swiper-button-prev > img,
.swiper-button-next > img {
  width: 36px !important;
  height: 36px;
}

@media screen and (min-width: 1440px) {
  .swiper-button-prev,
  .swiper-button-next {
    pointer-events: auto;
  }
}

@media screen and (min-width: 1440px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: flex !important;
  }
}
.reviews_article {
  border-radius: 12px;
  padding: 26px 33px;
  width: 334px;
  height: 184px;
  gap: 8px;
  background: var(--card-color);
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 1440px) {
    width: 100%;
    gap: 8px;
  }
}
.reviews_article_inner {
  display: flex;
  align-items: center;
  gap: 12px;
}
.reviews_article_inner img {
  width: 69px;
  height: 69px;
}
.reviews_article_inner figcaption {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: var(--title-color);
}

.reviews_article_text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
}
/* PC version */
.reviews_inner {
  display: none;
  @media screen and (min-width: 1440px) {
    display: grid;
    grid-template-columns: repeat(3, 413px);
    grid-template-rows: repeat(2, 184px);
    gap: 20px;
  }
}
