@import url(https://fonts.googleapis.com/css?family=Quicksand:regular,700);
@import url(https://fonts.googleapis.com/css?family=Fredoka:regular);
@import './reset.css';

@import './header.css';
@import './hero.css';
@import './about-game.css';
@import './features.css';
@import './charters.css';
@import './reviews.css';
@import './how-play.css';
@import './gallery.css';
@import './faq.css';
@import './footer.css';
@import './cookies.css';
@import './pages.css';

:root {
  --title-color: #ffe877;
  --text-color: #1b023c;
  --card-color: #ac75b5;
  --font-family: 'Quicksand', sans-serif;
  --second-family: 'Fredoka', sans-serif;
  --third-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.main_wrapper {
  background: linear-gradient(180deg, #dab9c5 0%, #866fb4 100%);
  overflow-x: hidden;
}
.container {
  max-width: 375px;
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
}

.title-h2 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 38px;
  color: var(--title-color);
  margin-bottom: 28px;
  text-align: center;
  @media screen and (min-width: 1440px) {
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
